@media (max-width: 640px) {
  /* Bu kod faqat ekran 768px yoki undan katta bo‘lsa ishlaydi */
  .swipers {
    margin-left: 1px !important;
  }
}
@media (max-width: 970px) {
  /* Bu kod faqat ekran 768px yoki undan katta bo‘lsa ishlaydi */
  .swipers {
    padding-left: 10px !important;
  }
}
@media (max-width: 970px) {
  /* Bu kod faqat ekran 768px yoki undan katta bo‘lsa ishlaydi */
  .swipers {
    padding-right: 10px !important;
  }
}
