NEXT_PUBLIC_API_SHARH_URL=https://commeta.uz/review/api/v1/front_office/ReviewList/?limit=20&offset=0&parent_categories_slugs=policlinic
NEXT_PUBLIC_API_BASE_URL=https://admin.clamo.uz/api
NEXT_PUBLIC_LICENSES_URL=http://localhost:3000
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_0ct81wq
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_x1me3ld
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=bEZf3s-9yRiq4jwYs
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=8319445070:AAHsCQf0UcZzUj-_kPtFVxJd3Gs0Yi74VM8
NEXT_PUBLIC_TELEGRAM_CHAT_ID=-4864660265
NEXT_PUBLIC_YANDEX_METRICA_ID=104200055
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LdqgVorAAAAAKoZEVgZY36KNAHheu0NFIvRFgmD
