.circleCover{
    position: relative;
    left: 0;
    top: 0;
    &::before{
        content: "";
        position: absolute;
        bottom: 150px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        filter: blur(150px);
        background-color: #6EB8E8;
        z-index: 2;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 142px;
        background: #0653C9;
        filter: blur(30px);
        background: #0653C9;
        background: linear-gradient(1deg, rgba(6, 83, 201, 1) 0%, rgba(6, 83, 201, 0.63) 100%);
        z-index: 10;
    }
}