@tailwind base;
@tailwind components;
@tailwind utilities;

.teamcarousel{
    fill: radial-gradient(270.21% 86.02% at 50% 6.8%, rgba(0, 0, 0, 0.00) 50.69%, rgba(0, 0, 0, 0.80) 100%);    
    border-radius: 36px;
    background: linear-gradient(180deg, #B2C0D2 0%, #D8DDE3 100%);
}

.teamcaruselimg{
    scale: 1.2;
}